six==1.3.0
Babel==1.3
Flask==0.10.1
Flask-Assets==0.8
Flask-Babel==0.9
Flask-Cache==0.12
Flask-Gravatar==0.4.1
Flask-Login==0.2.10
Flask-Mail==0.9.0
Flask-OAuth==0.12
Flask-Principal==0.4.0
Flask-SQLAlchemy==1.0
Flask-Script==0.6.7
Flask-Security==1.6.9
Flask-Social==1.6.2
Flask-Testing==0.4.1
Flask-WTF==0.9.3
SQLAlchemy-FullText-Search==0.2
Jinja2==2.7.1
MySQL-python==1.2.3
SQLAlchemy==0.8.3
Sphinx==1.1.3
Twisted==13.2.0
WTForms==1.0.5
Werkzeug==0.9.4
alembic==0.6.1
blinker==1.3
celery==3.1.6
celery-with-redis==3.0
cssmin==0.2.0
facebook-sdk==0.4.0
factory-boy==2.3.1
foursquare==20130707
google-api-python-client==1.2
jsmin==2.0.8
nose2==0.4.7
pyScss==1.2.0.post3
pyjade==2.0.2
python-twitter==1.1
redis==2.8.0
oauth2client==1.2
sphinxcontrib-httpdomain==1.2.0
uWSGI==1.9.20
py-bcrypt==0.4
raven==3.6.1
humanize==0.5
