<h1 id="pageTitle">{{i18n 'users.setting'}}</h1>
<div class="row">
    <div id="settingNav" class="setting-nav col-lg-3">
        <ul class="nav nav-pills nav-stacked">
            <li class="active basic-tab">
                <a href="#" class="basic">{{i18n 'setting.basic.title'}}</a>
            </li>
            <li class="password-tab">
                <a href="#" class="password">{{i18n 'setting.password.title'}}</a>
            </li>
            <li class="connection-tab">
                <a href="#" class="connection">{{i18n 'setting.connection.title'}}</a>
            </li>
            <li class="leave-our-service-tab">
                <a href="#" class="leave-our-service">{{i18n 'setting.leaveOurService.title'}}</a>
            </li>
        </ul>
    </div>
    <div class="setting-text col-lg-6">
        <div id="settingWrapper" class="setting-wrapper well well-lg col-lg-12">
            <div id="setting-basic"></div>
            <div id="setting-password" class="hidden"></div>
            <div id="setting-connection" class="hidden"></div>
            <div id="setting-leave-our-service" class="hidden"></div>
        </div>
    </div>
    <div class="col-lg-5">

    </div>
</div>
