<div id="index" class="hero-unit">
    <h1 id="pageTitle">{{i18n 'main.title'}}</h1>

    <p>{{i18n 'main.description'}}</p>
</div>
<div class="row-fluid">
    {{> /static/views/share/user_list}}
</div>

