<div>
    <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                  <span class="fa fa-bar"></span>
                  <span class="fa fa-bar"></span>
                  <span class="fa fa-bar"></span>
                </button>
                <a href="/#!" title="{{i18n 'service.name'}}" class="navbar-brand">
                    <i class="fa fa-home"></i>&nbsp; {{i18n 'service.name'}}
                </a>

                <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav pull-right">
                        {{#data}}
                            {{^user}}
                                <li class="active"><a href="/#!login">{{i18n 'navbar.login'}}</a></li>
                            {{/user}}
                            {{#user}}
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                        {{ email }}
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-header">{{i18n 'navbar.myAccount'}}</li>
                                        {{#has_admin}}
                                            <li><a href="/#!admin/role">{{i18n 'navbar.admin'}}</a></li>
                                        {{/has_admin}}
                                        <li><a href="/#!profile/{{ id }}">{{i18n 'navbar.profile'}}</a></li>
                                        <li><a href="/#!setting/basic">{{i18n 'navbar.setting'}}</a></li>
                                        <li><a href="/#!logout">{{i18n 'navbar.logout'}}</a></li>
                                    </ul>
                                </li>
                            {{/user}}
                        {{/data}}
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                {{i18n 'navbar.aboutUs'}}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/#!sitemap">{{i18n 'navbar.sitemap'}}</a>
                                </li>
                                <li><a href="/#!how_it_works">{{i18n 'navbar.howItWorks'}}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                {{i18n 'navbar.languages'}}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/locales/en">{{i18n 'navbar.english'}}</a>
                                </li>
                                <li><a href="/locales/ko">{{i18n 'navbar.korean'}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
</div>