<h1 id="pageTitle">{{i18n 'admin.title'}}</h1>
<div>
    <div id="adminNav" class="admin-nav col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li class="active role-tab">
                <a href="#" class="role">{{i18n 'admin.role.title'}}</a>
            </li>
            <li class="user-tab">
                <a href="#" class="user">{{i18n 'admin.user.title'}}</a>
            </li>
        </ul>
    </div>
    <div class="admin-text col-md-6">
        <div id="adminWrapper" class="admin-wrapper well col-md-12">
            <div id="admin-role"></div>
            <div id="admin-user" class="hidden"></div>
        </div>
    </div>
    <div class="col-md-5">

    </div>
</div>
