| {% extends "base.jade" %}
| {% block content %}
{%- endassets %}
#error-outer
  #error-inner
    .error-container
      h1.fascinate-font
       | {{ _('Sorry we messed up') }} (500)
       span.error-page :(
      br
      pre {{ error }}
      a.btn-large.btn-success(href='/#!') {{ _('Return to index') }}
| {% endblock %}
