| {% extends "base.jade" %}
| {% block content %}
link(rel='stylesheet', href='#{ ASSET_URL }')
{%- endassets %}
#error-outer
  #error-inner
    .error-container
      h1.fascinate-font
       | {{ error }}
       span.error-page :(
      br
      a.btn-large.btn-success(href='/#!') {{ _('Return to index') }}
| {% endblock %}
