#ajaxProgress.hidden
  i.fa.fa-spinner.fa-spin.fa-lg
  &nbsp;
  {{ _('Loading') }}
#messageWrapper
  #messageAlertWarning.alert.hidden
  #messageAlertError.alert.alert-danger.hidden
  #messageAlertInfo.alert.alert-info.hidden
  #messageAlertSuccess.alert.alert-success.hidden
