#ajaxProgress.hidden
  i.icon-spinner.icon-spin.icon-large
  &nbsp;
  {{ _('Loading') }}
#messageWrapper
  #messageAlertWarning.alert.hidden
  #messageAlertError.alert.alert-error.hidden
  #messageAlertInfo.alert.alert-info.hidden
  #messageAlertSuccess.alert.alert-success.hidden
