| {%- with messages = get_flashed_messages(with_categories=true) -%}
| {% if messages %}
ul.flashes
  | {% for category, message in messages %}
  li(class='#{category}') {{ message }}
  | {% endfor %}
| {% endif %}
| {%- endwith %}
