| {% extends "base.jade"  %}
| {% block content %}
| {% include "security/_navbar.jade" %}
| {% from "security/_macros.jade" import render_field_with_errors, render_field %}
| {% include "security/_messages.jade" %}
h1 {{ _('Send password reset instructions') }}
form(action='#{url_for_security("forgot_password")}', method='POST', name='forgot_password_form', class='form-horizontal')
  | {{ forgot_password_form.hidden_tag() }}
  | {{ render_field_with_errors(forgot_password_form.email) }}
  | {{ render_field(forgot_password_form.submit) }}
| {% endblock %}