<div class="login-text col-lg-8">
    <div class="jumbotron">
        <h1 id="pageTitle">{{i18n 'welcome.login.title'}}</h1>

        <p>{{i18n 'welcome.login.content'}}</p>
    </div>
</div>
<div class="col-lg-4">
    <div class="login-wrapper well col-lg-12">
        {{> static/views/user/login_form}}
    </div>
    <div class="register-wrapper well col-lg-12">
        {{> static/views/user/registration_form}}
    </div>
</div>
