<form id="loginForm" name="loginForm" method="post" class="form-horizontal">
    <div class="email form-group col-md-12">
        <input id="loginEmail" name="loginEmail" type="email" placeholder="{{i18n 'login.enterEmail'}}"
               class="email form-control col-md-12" autocomplete="on" tabindex="1"/>
        <label for="loginEmail" class="hidden">{{i18n 'login.enterEmail'}}</label>
    </div>
    <div class="password form-group col-md-12">
        <input id="loginPassword" name="loginPassword" type="password"
               placeholder="{{i18n 'login.enterPassword'}}" class="password form-control col-md-12" tabindex="2"/>
        <label for="loginPassword" class="hidden">{{i18n 'login.enterPassword'}}</label>
    </div>
    <div class="remember-forgot form-group col-md-12">
        <label class="remember inline">
            <input class="inline-item" type="checkbox" value="1" id="rememberMe" name="rememberMe" tabindex="3">
            <span>{{i18n 'login.rememberMe'}}</span>
        </label>
        <span class="separator inline">·</span>
        <a class="forgot inline" href="/reset">{{i18n 'login.forgotPassword'}}?</a>
    </div>
    <div class="perform-login-wrapper form-group col-md-12">
        <button type="submit" class="btn btn-primary perform-login pull-right" tabindex="4">
            {{i18n 'login.submit'}}
        </button>
    </div>
</form>
<form action="/oauth/login/facebook" method="POST" class="form-horizontal oauth-login-form">
    <div class="form-group">
        <button type="submit" class="btn btn-primary pull-right" tabindex="5">{{i18n 'user.view.oauth.login.prefix'}} {{i18n 'user.view.oauth.facebook'}} {{i18n 'user.view.oauth.login.postfix'}}</button>
    </div>
</form>