<form id="registrationForm" name="registrationForm" method="post" class="form-horizontal">
  <fieldset>
    <h4>
        {{i18n 'registration.title'}}
    </h4>
    <hr/>
    {{#if registration_message}}
        <div class="form-group">
            <label class="text-info text-center"><small>{{registration_message}}</small></label>
        </div>
    {{/if}}
    <div class="email form-group col-md-12">
        <input id="registrationEmail" name="registrationEmail" type="email"
               placeholder="{{i18n 'registration.enterEmail'}}" class="email form-control col-md-12" autocomplete="off" tabindex="5"/>
        <label for="registrationEmail" class="hidden">{{i18n 'registration.enterEmail'}}</label>
    </div>
    <div class="password form-group col-md-12">
        <input id="registrationPassword" name="registrationPassword" type="password"
               placeholder="{{i18n 'registration.enterPassword'}}" class="password form-control col-md-12" tabindex="6"/>
        <label for="registrationPassword" class="hidden">{{i18n 'registration.enterPassword'}}</label>
    </div>
    <div class="register-user-wrapper form-group col-md-12">
        <button type="submit" class="btn btn-warning register-user pull-right" tabindex="7">
            {{i18n 'registration.submit'}}
        </button>
    </div>
  </fieldset>
</form>
{{#unless registration_message}}
    <form action="/oauth/login/facebook" method="POST" class="form-horizontal">
        <div class="form-group">
            <button type="submit" class="btn btn-warning pull-right" tabindex="10">{{i18n 'user.view.oauth.registration.prefix'}} {{i18n 'user.view.oauth.facebook'}} {{i18n 'user.view.oauth.registration.postfix'}}</button>
        </div>
    </form>
{{/unless}}
