<h1 id="pageTitle">{{i18n 'users.setting'}}</h1>
<div class="row-fluid">
    <div id="settingNav" class="setting-nav span3">
        <ul class="nav nav-pills nav-stacked">
            <li class="active basic-tab"><a href="#" class="basic">{{i18n 'setting.basic.title'}}</a></li>
            <li class="change-password-tab"><a href="#"
                                               class="change-password">{{i18n 'setting.changePassword.title'}}</a></li>
            <li class="connection-tab"><a href="#" class="connection">{{i18n 'setting.connection.title'}}</a></li>
            <li class="leave-our-service-tab"><a href="#"
                                                 class="leave-our-service">{{i18n 'setting.leaveOurService.title'}}</a>
            </li>
        </ul>
    </div>
    <div class="setting-text span6">
        {{#data}}
            {{#user}}
                <div id="settingWrapper" class="setting-wrapper well">
                    <div id="setting-basic">
                        {{> static/views/user/setting_basic}}
                    </div>
                    <div id="setting-change-password" class="hidden">
                        {{> static/views/user/setting_change_password}}
                    </div>
                    <div id="setting-connection" class="hidden">
                        {{> static/views/user/setting_connection}}
                    </div>
                    <div id="setting-leave-our-service" class="hidden">
                        {{> static/views/user/setting_leave_our_service}}
                    </div>
                </div>
            {{/user}}
            {{^user}}
                <div id="settingWrapper" class="setting-wrapper well">
                    :(
                </div>
            {{/user}}
        {{/data}}
    </div>
    <div class="span5">

    </div>
</div>
