<form id="updatePasswordForm" name="updatePasswordForm" method="put">
    <h4>{{i18n 'setting.changePassword.title'}}</h4>
    <hr/>
    <input type="hidden" id="id" name="id" value="{{user.id}}"/>

    <div class="email">
        <label for="email" class="span4">{{i18n 'users.email'}}</label>
        <input id="email" name="email" readonly type="email" class="email span8" value="{{user.email}}"/>
    </div>
    <div class="current-password">
        <label for="currentPassword" class="span4">{{i18n 'setting.changePassword.currentPassword'}}</label>
        <input id="currentPassword" name="currentPassword" type="password"
               placeholder="{{i18n 'setting.changePassword.enterCurrentPassword'}}" class="password span8"
               tabindex="1"/>
    </div>

    <div class="new-password">
        <label for="newPassword" class="span4">{{i18n 'setting.changePassword.newPassword'}}</label>
        <input id="newPassword" name="newPassword" type="password"
               placeholder="{{i18n 'setting.changePassword.enterNewPassword'}}" class="password span8" tabindex="1"/>
    </div>
    <div class="new-password-confirm">
        <label for="newPasswordConfirm" class="span4">{{i18n 'setting.changePassword.newPasswordConfirm'}}</label>
        <input id="newPasswordConfirm" name="newPasswordConfirm" type="password"
               placeholder="{{i18n 'setting.changePassword.enterNewPasswordConfirm'}}" class="password span8"
               tabindex="2"/>
    </div>

    <div class="submit">
        <button type="submit" class="btn btn-info update-user-password pull-right" tabindex="3">
            {{i18n 'setting.changePassword.submit'}}
        </button>
    </div>
</form>