<form id="updatePasswordForm" name="updatePasswordForm" method="put" class="form-horizontal">
  <fieldset>
    <h4>{{i18n 'setting.changePassword.title'}}</h4>
    <hr/>
    <input type="hidden" id="id" name="id" value="{{user.id}}"/>

    <div class="email form-group col-lg-12">
        <label for="email" class="col-lg-2">{{i18n 'users.email'}}</label>
        <input id="email" name="email" readonly type="email" class="form-control col-lg-10" value="{{user.email}}"/>
    </div>
    <div class="current-password form-group col-lg-12">
        <label for="currentPassword" class="col-lg-4">{{i18n 'setting.changePassword.currentPassword'}}</label>
        <input id="currentPassword" name="currentPassword" type="password"
               placeholder="{{i18n 'setting.changePassword.enterCurrentPassword'}}" class="password form-control col-lg-8"
               tabindex="1"/>
    </div>

    <div class="new-password form-group col-lg-12">
        <label for="newPassword" class="col-lg-4">{{i18n 'setting.changePassword.newPassword'}}</label>
        <input id="newPassword" name="newPassword" type="password"
               placeholder="{{i18n 'setting.changePassword.enterNewPassword'}}" class="password form-control col-lg-8" tabindex="1"/>
    </div>
    <div class="new-password-confirm form-group col-lg-12">
        <label for="newPasswordConfirm" class="col-lg-4">{{i18n 'setting.changePassword.newPasswordConfirm'}}</label>
        <input id="newPasswordConfirm" name="newPasswordConfirm" type="password"
               placeholder="{{i18n 'setting.changePassword.enterNewPasswordConfirm'}}" class="password form-control col-lg-8"
               tabindex="2"/>
    </div>

    <div class="submit form-group">
        <button type="submit" class="btn btn-info update-user-password pull-right" tabindex="3">
            {{i18n 'setting.changePassword.submit'}}
        </button>
    </div>
  </fieldset>
</form>