<div id="index" class="jumbotron"> <h1 id="pageTitle">{{i18n 'error.incorrectAccessDetected'}}</h1> <p>{{i18n 'error.pleaseCheckTheURL'}} {{i18n 'error.or'}} <a href="/#!login">{{i18n 'error.loginPlease'}}</a></p> </div> 
